@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="mainmenu">
    <div>
        <a asp-controller="CoursesList" asp-action="AddCourse"><img width="300" height="300" src="~/Assets/Add.jpg" /></a>
    </div>
    <div>
        <a asp-action="Index" asp-controller="CoursesList"><img width="300" height="300" src="~/Assets/Courses.jpg" /> </a>
    </div>
</div>
