@model Automated.Course.System.Web.Models.LoginViewModel


<div id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Авторизация</h5>
            </div>
            <div class="modal-body">
                <div>
                    <form method="post" asp-controller="Account" asp-action="Login">
                        <div class="form-group">
                            <label asp-for="Email"></label><br />
                            <input asp-for="Email" /><br />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label><br />
                            <input asp-for="Password" /><br />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="form-check">
                            <label asp-for="RememberMe"></label>
                            <input asp-for="RememberMe" />
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Войти</button>
                        </div>
                    </form>
                    <form method="post" asp-controller="Account" asp-action="ExternalLogin">
                        <div class="modal-footer">
                            @foreach (var provider in Model.ExternalProviders)
                            {
                                <button type="submit"
                                        name="provider"
                                        value="@provider.Name">
                                    @provider.DisplayName
                                </button>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>