@model Automated.Course.System.Web.Models.LoginViewModel

<div class="accountForm">
    <div class="text-center">
        <h2>Вход</h2>
    </div>
    <form method="post" asp-controller="Account" asp-action="ExternalLogin"
          asp-route-returnUrl="@Model.ReturnUrl">
        <div class="text-center" asp-validation-summary="ModelOnly"></div>
        <div class="text-center">
            <label asp-for="Email"></label><br />
            <input asp-for="Email" /><br />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="text-center">
            <label asp-for="Password"></label><br />
            <input asp-for="Password" /><br />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="text-center">
            <label asp-for="RememberMe"></label>
            <input asp-for="RememberMe" />
        </div>
        <div class="text-center">
            <input class="button" type="submit" value="Войти" />
        </div>
        <div>
            @foreach (var provider in Model.ExternalProviders)
    {
            <button type="submit"
                    name="provider"
                    value="@provider.Name">
                @provider.DisplayName
            </button>
        }
        </div>
    </form>
</div>