@model Automated.Course.System.Web.Models.RegisterViewModel
<div id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <form method="post" asp-controller="Account" asp-action="Register">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div>
                            <label asp-for="Email"></label><br />
                            <input asp-for="Email" />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div>
                            <label asp-for="FirstName"></label><br />
                            <input asp-for="FirstName" />
                            <span asp-validation-for="FirstName"></span>
                        </div>
                        <div>
                            <label asp-for="LastName"></label><br />
                            <input asp-for="LastName" />
                            <span asp-validation-for="LastName"></span>
                        </div>
                        <div>
                            <label asp-for="Password"></label><br />
                            <input asp-for="Password" />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div>
                            <label asp-for="ConfirmPassword"></label><br />
                            <input asp-for="ConfirmPassword" />
                            <span asp-validation-for="ConfirmPassword"></span>
                        </div>
                        <div>
                            <label asp-for="Role"></label><br />
                            <div>
                                <label>Преподавать</label>
                                <input type="radio" asp-for="Role" value="teacher" />
                            </div>
                            <div>
                                <label>Учиться</label>
                                <input type="radio" asp-for="Role" value="student" />
                            </div>
                            <span asp-validation-for="Role"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>