@model CourseViewModel
@{
    ViewData["Title"] = "AddCourse";
}

<div>

    <form asp-antiforgery="true" asp-action="AddWorker" asp-controller="Home">
        <div>
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="Name"></label><br />
                <input type="text" asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Discription"></label><br />
                <input asp-for="Discription" />
                <span asp-validation-for="Discription"></span>
            </div>
            <div>
                <label asp-for="Language"></label><br />
                <input asp-for="Language" />
                <span asp-validation-for="Language"></span>
            </div>
            <div>
                <input type="submit" value="Save" />
            </div>
        </div>
    </form>
</div>