@model List<CourseViewModel>
@{
    ViewData["Title"] = "Courses";
}
@foreach (var course in Model)
{
    <div class="courses">
        <img src="~/Assets/Course.jpg" />
        <b><p class="coursename">@course.Name</p></b>
        <p>Курс на языке @course.Language</p>
        <p>@course.Discription</p>
    </div>
}
<div>

</div>